yarn add react react-dom lucide-react react-router-dom axios chart.js react-chartjs-2
yarn add -D react-scripts

npm i react react-dom lucide-react react-router-dom axios chart.js react-chartjs-2
npm i -D react-scripts  