/* Contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* max-height: 90vh; */
  /* padding: 1rem; */
  background-color: var(--medium-gray);
}

/* Formulario */
.login-form {
  background-color: var(--white);
  padding: 1.9rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .3rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 26rem;
}

.login-title {
  color: var(--gray-700);
  text-align: center;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

/* Inputs */
.input-group {
  margin-bottom: 1.2rem;
}

.input-label {
  display: block;
  margin-bottom: .25rem;
  color: var(--gray-600);
  font-weight: 500;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  background-color: var(--light-gray);
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: var(--blue-pastel);
}

/* Botón */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: var(--blue-pastel);
  color: var(--white);
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--blue-pastel-dark);
}

/* Footer (enlaces) */
.login-footer {
  text-align: center;
  font-size: .97rem;
}

.footer-link {
  color: var(--blue-pastel-dark);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-text {
  display: block;
  margin-top: 10px;
  color: var(--gray-600);
}