.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--medium-gray);
  padding: 20px;
}

.card {
  background: var(--white);
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: var(--shadow-md);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: var(--gray-700);
  font-size: 1.3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 500;
  color: var(--gray-500);
}

.input {
  padding: 0.75rem;
  border: 1px solid var(--gray-500);
  border-radius: 4px;
  font-size: 1rem;
  background: var(--neutral-50);
}

.input:focus {
  outline: none;
  border-color: var(--accent-600);
  box-shadow: var(--shadow-md);
}

.button:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}

.alertError {
  padding: 0.75rem;
  background-color: var(--light-gray);
  color: var(--accent-800);
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.alertSuccess {
  padding: 0.75rem;
  background-color: var(--light-gray);
  color: var(--accent-400);
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.helperText {
  color: var(--gray-500);
  font-size: 0.875rem;
}