/* Main Content Styles */
.mainContent {
  flex: 1;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  transition: var(--transition);
}

.topBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  color: var(--primary-700);
  z-index: 50;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--gray-600);
  font-weight: bold;
  font-size: .9rem;
}

.userAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stats Grid */
.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

/* Responsive Adjustments */
/* @media (max-width: 768px) {
  .mainContent {
    margin-left: var(--sidebar-collapsed-width);
  } 
} */

@media (max-width: 576px) {
  .statsGrid {
    grid-template-columns: 1fr;
  }
}