.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.875rem; /* 30px */
}

.cardCol {
  grid-column: span 12;
}
@media (min-width: 1024px) {
  .cardCol {
    grid-column: span 4;
  }
}

.card {
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  background: #fff;
  padding: 0;
  position: relative;
  width: 100%;
  word-break: break-word;
  overflow: hidden;
}

.cardDark {
  background: #23272f;
  box-shadow: none;
}

.coverWrapper {
  position: relative;
}

.coverImg {
  width: 100%;
  display: block;
}

.readBadge {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  font-weight: 600;
  border-radius: 0.25rem;
  background: #f3f4f6;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px;
  margin-top: -1.75rem;
  position: relative;
  z-index: 1;
  background: #e5e7eb;
}

.categoryBadge {
  margin-top: 1.5rem;
  background: #f3f4f6;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
  display: inline-block;
}

.title {
  font-size: 1.125rem;
  margin: 1.5rem 0;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
}

.flexRow {
  display: flex;
}

.flexGap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: 1.5rem;
}

.flexGap2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flexEnd {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-left: auto;
}

.textSm {
  font-size: 0.875rem;
  color: #374151;
  opacity: 0.8;
}