/* Contenedor principal */
.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.3rem;
}

/* Formulario */
.registerForm {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
  max-width: 50rem; /* Más ancho por los campos extras */
  border-radius: .5rem;
  background-color: var(--white);
  box-shadow: var(--shadow-md);
}

.registerTitle {
  color: var(--gray-text);
  text-align: center;
  font-size: 2.2rem;
}

/* Filas de inputs (para agrupar 2 en línea) */
.formRow {
  display: flex;
  gap: 1.3rem;
}

.formRow .inputGroup {
  flex: 1; /* Distribuye el espacio equitativamente */
}

.inputLabel {
  display: block;
  margin-bottom: .1rem;
  color: var(--gray-600);
  font-weight: 500;
}

.inputField {
  width: 100%;
  padding: .75rem;
  font-size: 1rem;
  border: 1px solid var(--gray-500);
  border-radius: 4px;
  background-color: var(--neutral-100);
}

.inputField::picker-icon {
  color: var(--neutral-100);
  background-color: var(--neutral-100);
}

.inputField:focus {
  outline: none;
  border-color: var(--accent-600);
}